*{
	
	box-sizing: border-box;
}

/*preloader start*/

#ar_preloader{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
}
#ar_preloader .ar_pre_half{
	background-image: url("../images/preload_bg1.jpg");
	background-size: 100% 100%;
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	/*background-repeat: repeat-x;*/
}
#ar_preloader .ar_pre_half1{
	background-image: url("../images/preload_bg2.jpg");
	background-size: 100% 100%;
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	/*background-repeat: repeat-x;*/
}


#ar_preloader #ar_bg_left{
	left: 0;
}
#ar_preloader #ar_bg_right{
	right: 0;
}
#ar_preloader #ar_dots{
	z-index: 1;
	width: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#ar_preloader #ar_dots h2{
	width: 100%;
	margin: 0 0 30px 0;
	/*color: #fff;*/
	/*font-size: 16px;*/
	font-weight: 600;
	text-align: center;
	color: tomato;
}
#ar_preloader #ar_dots p{
	width: 100%;
	margin: 0 0 30px 0;
	/*color: #fff;*/
	font-size: 20px;
	text-align: center;
}
#ar_preloader #ar_dots .ar_dot{
	animation: infinite 500ms ease-in-out;
	border-radius: 30px;
	width: 30px;
	height: 30px;
	background: #fff;
	float: left;
	margin: 0 10px 0 0;
}
#ar_preloader #ar_dots .ar_dot:last-child{
	margin: 0 0 0 0;
}
@keyframes ar_preloader_1{
	0%{background: #fff; transform: translateY(0);}
	25%{background: #ff6600; transform: translateY(-5px);}
	50%{background: #fff; transform: translateY(0);}
}
@keyframes ar_preloader_2{
	25%{background: #fff; transform: translateY(0);}
	50%{background: #ff6600; transform: translateY(-5px);}
	75%{background: #fff; transform: translateY(0);}
}
@keyframes ar_preloader_3{
	50%{background: #fff; transform: translateY(0);}
	75%{background: #ff6600; transform: translateY(-5px);}
	100%{background: #fff; transform: translateY(0);}
}
@keyframes ar_preloader_4{
	75%{background: #fff; transform: translateY(0);}
	100%{background: #ff6600; transform: translateY(-5px);}
	25%{background: #fff; transform: translateY(0);}
}

/*preloader end*/

#sliderh img{
	height: 400px;
	width: 100%;
}

.carousel-caption{
	margin-bottom: 50px;
}
.carousel-caption .btn{
	background-color: initial;
	border: 1px solid white;
	color: white;
}
.carousel-caption .btn:hover{
	background-color: initial;
	border: 1px solid white;
	color: green;
}
.btn{
	background-color: initial;
	border: 1px solid green;
	color: #2DCC70;
	border-radius: 0;
	margin-top: 40px;
	transition: 1s;
}
.btn:hover{
	background-color: green;
}
#nav-top{
	border-radius: 0;
	margin-bottom: 0;

}
.pading{
	padding: 50px 50px 50px 50px;
}
.myservice{
}
.servicepad{
	background-color: #e6e5e5;
	padding: 50px 80px 50px 80px;
}
.servicepad h1{
	font-weight: bold;
}
.servicepadp{
	padding-bottom: 40px;
	font-size: 18px;
	font-weight: 300px;
	font-style: italic;
	font-family: "Times New Roman", Georgia, Serif;
}
.icon{
	display: block;
	width: 50px;
	height: 50px;
	border: 2px solid #000;
	border-radius: 50%;
	text-align: center;
	position: relative;
	margin: auto;
	padding-bottom: 20px;
}
.icon .fa{
	padding-top: 8px;
	font-size: 30px;
}
.servhr{
	width: 60px;
	border: 2px solid blue;
}
.imgsize{
	height: 450px;
	width: 100%:;
}
#aboutbg{
	background-color: #dad8d8;
}
.line-horizontal{
	width: 40px;
	height: 3px;
	background-color: #95a5a5;
	display: block;
	margin: 0 auto;
}
.line-vertical{
	width: 3px;
	height: 70px;
	background-color: #95a5a5;
	display: block;
	margin:0 auto;
}
.line-cirlce{
	width: 50px;
	height: 50px;
	border: 3px solid #95a5a5;
	display: block;
	border-radius: 50%;
	margin: 10px auto 20px;
	color: #95a5a5;
	font-size: 14px;
	line-height: 3.2;
	padding-left: 5px;
}
.aboutimg img{
	position: relative;
	display: block;
}
.aboutimg p{
  position: absolute;
  color: blue;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  right: 100px;
  top: 200px;
  width: 100%;
  

}
section{
	padding: 20px 20px 20px 0px;
}
#myskill{
	background-color: #cecaca;
}
.progresbarpad{
	padding: 50px 100px 50px 100px;
}
.portfolio{
	background-color: #C1BEBE;
}
.portfolio .thumbnail{
	height: 250px;
	box-shadow: 10px 10px 5px;
	opacity: 0.6;
}
.portfolio .thumbnail img{
	width: 100%;
	height: 100%;
}
.portfolio .thumbnail img:hover{
	

}
.portfolio .thumbnail:hover{
	/*background-color: #337AB7;*/
	border-color: #337AB7;
	transition: 1s;
	transform: scaleY(1.1);
	opacity: 1;

}
.myvalue{
	background-color:  #ABA7A7;
}
.resumepad{
	padding: 50px 200px 50px 105px;
}
#myresume{
	background-color: #8F8B8B;
}

.portimgsize{
	width: 200px;
	height: 100%;
}

.bigfooter{
	padding: 50px 100px 50px 100px;
	/*background-color: #252F31;*/
	color: #8D8D8F;
}

.bigfooter p strong{
	color: white;
}
.bigfooterR{
	/*color: white;*/
	/*padding-top: 50px;*/
	padding-left: 25px;
}
.footerbg{
	background-color: #191E21;
	color: #8D8D8F;
}
.footerbg ul{
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
.footerbg ul li{
	display: inline-block;
	padding-right: 15px;
	font-size: 20px;
	border-right: 3px solid white;
	margin: 15px;
	margin-left: 0;
}
.footerbg ul li:last-child{
	border-right: 0px;
}
.footerbg ul li i{
	transition: 2s cubic-bezier(0.5, 0.31, 0.84, 0.05);
	font-size: 30px;
}
.footerbg ul li i:hover{

	transform: rotateY(360deg);
}
/*.footerbg::after{
	left: 50%;
	position: absolute;
}
.footerbg::after{
	content: "";
	background: url("../images/up.jpg") center center/100% no-repeat;
	width: 200px;
	height: 100%;
	bottom: 0;
	margin-left: 200px;
	transition:.95s cubic-bezier(1,0,0,1);
}*/
/*input[type=text]:hover{
	background-color: brown;
}*/
.progress{
	border-radius:0px;
}

#contact { 
    /* The image used */
    background-image: url("../images/images.jpg");

    /* Full height */
    max-height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 40% 60%;
    background-repeat: no-repeat;
    background-size: inherit;
}

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    #contact {
        background-attachment: scroll;
    }

